<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Muhammad's Portfolio</title>
    <link rel="icon" type="image/icon" href="images/icon2.png">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <style>
      .navbar-custom {
        margin-top: 40px;
        margin-bottom: 20px;
        padding-left: 15px; /* Adjust this value as needed */
        padding-right: 15px; /* Adjust this value as needed */
      }

      @media (min-width: 768px) {
        .navbar-custom {
          padding-left: 60px;
          padding-right: 70px;
        }
      }

      .navbar-collapse {
        justify-content: flex-end;
      }

      .navbar-toggler {
        margin-left: auto;
      }

      .navbar-collapse {
        text-align: right;
      }
    </style>
  </head>
  <body style="background-color: #1470AF; color: white">
    <nav class="navbar navbar-expand-lg navbar-light w-100 navbar-custom">
      <div class="container-fluid"> 
        <a class="navbar-brand" style="color: white; font-weight: bold; font-size: x-large" href="/">MUHAMMAD TAHIR</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" style="color: white; font-weight: bold; font-size: larger" href="/resume">RESUME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: white; font-weight: bold; font-size: larger" href="/project">PROJECTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: white; font-weight: bold; font-size: larger" href="/certificate">CERTIFICATIONS</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {{{body}}}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
