<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card h-100 mx-3">
                    <img src="images/certificate1.png" class="card-img-top" alt="Data Analysis with Python">
                    <div class="card-body">
                        <h5 class="card-title">Data Analysis with Python</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">IBM</li>
                        <li class="list-group-item">Issued July 2023</li>
                        <li class="list-group-item">Credential ID UCZ5AJYLTWSH</li>
                    </ul>
                    <div class="card-body">
                        <a href="https://coursera.org/verify/UCZ5AJYLTWSH" class="card-link">Show Credential</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card h-100 mx-3">
                    <img src="images/certificate2.png" class="card-img-top" alt="AI For Everyone">
                    <div class="card-body">
                        <h5 class="card-title">AI For Everyone</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Coursera</li>
                        <li class="list-group-item">Issued April 2020</li>
                        <li class="list-group-item">Credential ID LUSEHBT5BWWL</li>
                    </ul>
                    <div class="card-body">
                        <a href="https://coursera.org/verify/UCZ5AJYLTWSH" class="card-link">Show Credential</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card h-100 mx-3">
                    <img src="images/certificate3.png" class="card-img-top" alt="Introduction to Programming using Python">
                    <div class="card-body">
                        <h5 class="card-title">Introduction to Programming using Python</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Microsoft Technology Associate</li>
                        <li class="list-group-item">Issued July 2020</li>
                        <li class="list-group-item">Credential ID LUSEHBT5BWWL</li>
                    </ul>
                    <div class="card-body">
                        <a href="https://verify.certiport.com/mWdE-uTYE" class="card-link">Show Credential</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>