<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;
            background-color: #111F44;
            color: #f8f8f8;
            font-family: 'Arial', sans-serif;
        }
        .container {
            display: flex;
            flex-direction: column;
            width: 90%;
            margin: 20px auto;
        }
        .left-column, .right-column {
            margin: 10px 0;
        }
        .left-column {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .left-column img {
            width: 100%;
            max-width: 220px;
            height: auto;
            border-radius: 50%;
        }
        .left-column p {
            font-size: 1.5em;
            font-weight: bolder;
            text-align: center;
        }
        .social-links {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        .social-links a {
            margin: 0 10px;
            color: #d8e7f2;
        }
        .social-links img {
            width: 30px;
            height: 30px;
        }
        .right-column {
            background-color: #d8e7f2;
            color: #1470AF;
            padding: 20px;
            border-radius: 10px;
        }
        .right-column h1 {
            font-size: 2em;
            font-weight: bolder;
            margin-bottom: 10px;
        }
        .right-column p {
            font-size: 1em;
            font-weight: lighter;
        }
        .mypic {
            margin-top: 0px;
            margin-bottom: 20px;
            border-radius: 100%;
        }
        @media (min-width: 768px) {
            .container {
                flex-direction: row;
            }
            .left-column, .right-column {
                margin: 10px;
                flex: 1;
            }
            .left-column p, .right-column p {
                font-size: larger;
            }
        }
    </style>
</head>
<body>

<div class="container">
    <div class="left-column">
        <img class="mypic" src="images/mypic.png" alt="Profile Picture">
        <p>Undergraduate student at National University of Computer & Emerging Sciences pursuing a Bachelor's in Computer Science with career interests in Artificial Intelligence, Web Development, and Machine Learning.</p>
        <div class="social-links">
            <a href="https://github.com/muhammad-tahir0312" target="_blank"><img src="images/github.png" alt="GitHub Logo"></a>
            <a href="https://www.linkedin.com/in/muhammad-tahir-0ab1291b2/" target="_blank"><img src="images/linkedin-logo.png" alt="LinkedIn Logo"></a>
            <a href="https://www.instagram.com/muhammadtahir0307?igsh=dG5tc3FrZXBpczY5" target="_blank"><img src="images/instagram.png" alt="Instagram Logo"></a>
            <a href="mailto:mtahirkhanyousufzai@gmail.com" target="_blank"><img src="images/gmail.png" alt="Gmail Logo"></a>
        </div>
    </div>
    <div class="right-column">
        <h1>Intro</h1>
        <p>I'm Muhammad Tahir, a Computer Science enthusiast based in Karachi, Pakistan. Growing up in this bustling city, where the aroma of biryani mingles with the sound of rickshaws, has shaped my perspective. The vibrant threads of culture, family bonds, and cricket matches have woven themselves into my experiences.
Currently pursuing my Bachelor's degree in Computer Science at FAST (National University of Computer and Emerging Sciences), I've explored a diverse range of programming languages. From the elegance of C and C++ to the dynamic world of React.js and Node.js, I've tinkered with code to build web applications. HTML/CSS is my canvas, and Python is my Swiss Army knife— I use it for everything from data analysis to exploring AI concepts.
Beyond syntax, I'm captivated by Artificial Intelligence and Machine Learning. The idea of teaching machines to learn and adapt fascinates me. Whether it's optimizing an algorithm or crafting an intuitive user interface, I thrive on turning ideas into reality.</p>
    </div>
</div>

</body>
</html>