<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
      body {
        background-color: #1470AF;
        color: white;
        font-family: 'Arial', sans-serif;
      }
      .project-container {
        max-width: 1200px;
        margin: 50px auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
      }
      .project-card {
        background: #fff;
        color: black;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        text-decoration: none;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
      }
      .project-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      }
      .project-card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
      .project-card-body {
        padding: 20px;
        text-align: center;
        text-decoration: none;
      }
      .project-card-body h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        font-size: 22px;
        margin-bottom: 10px;
      }
      .project-card-body p {
        font-size: 16px;
        line-height: 1.5;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="project-container">
        <a href="https://github.com/muhammad-tahir0312/Full_Stack_Restaurant_Online_Ordering_Application" target="_blank" class="project-card">
          <img src="images/first.png" alt="Restaurant Food Ordering App">
          <div class="project-card-body">
            <h2>Restaurant Food Ordering App</h2>
            <p>The Restaurant Food Ordering App allows customers to browse menus, place orders, and make secure payments online.</p>
          </div>
        </a>
        <a href="https://github.com/muhammad-tahir0312/TaskCraft-Pro"  target="_blank"class="project-card">
          <img src="images/second.png" alt="TaskCraft Pro">
          <div class="project-card-body">
            <h2>TaskCraft Pro</h2>
            <p>Web-based platform for organizing and tracking tasks assigned to employees.</p>
          </div>
        </a>
        <a href="https://github.com/muhammad-tahir0312/COVID-19-PREDICTOR-VACCINATION-APPLICATION-using-DECISION-TREE" target="_blank" class="project-card">
          <img src="images/third.png" alt="COVID-19 Predictor">
          <div class="project-card-body">
            <h2>COVID-19 Predictor</h2>
            <p>Application for managing COVID vaccination centers and appointments.</p>
          </div>
        </a>
        <a href="https://github.com/muhammad-tahir0312/Smart-Healthcare-System-using-Blockchain" target="_blank" class="project-card">
          <img src="images/fourth.png" alt="Smart Healthcare System on Blockchain">
          <div class="project-card-body">
            <h2>Smart Healthcare System on Blockchain</h2>
            <p>The Smart Healthcare System using Blockchain addresses fragmented health records by implementing a secure platform using blockchain.</p>
          </div>
        </a>
        <a href="https://github.com/muhammad-tahir0312/4-Bit-Combinational-Lock-System" target="_blank" class="project-card">
          <img src="images/fifth.jpg" alt="4 Bit Combinational Lock System">
          <div class="project-card-body">
            <h2>4 Bit Combinational Lock System</h2>
            <p>Implemented a combination lock system using XOR and NOR gates. XOR gates act as comparators for input and lock keys, triggering LED indicators or alarm systems based on correctness.</p>
          </div>
        </a>
        <a href="https://github.com/muhammad-tahir0312/Sorting-Program-in-Assembly-Language" target="_blank" class="project-card">
          <img src="images/sixth.png" alt="Sorting Program in Assembly Language">
          <div class="project-card-body">
            <h2>Sorting Program in Assembly Language</h2>
            <p>The sorting program sorts strings, characters, and integers using nested and normal loops. It is implemented in Visual Studio 2019 using the Irvine library, focusing on structured code with custom and pre-made functions.</p>
          </div>
        </a>
        <a href="https://github.com/muhammad-tahir0312/System-Call-for-Semaphore--Chain-Smoker-Problem" target="_blank" class="project-card">
          <img src="images/seventh.png" alt="System Call for Semaphore - Chain Smoker Problem">
          <div class="project-card-body">
            <h2>System Call for Semaphore - Chain Smoker Problem</h2>
            <p>Used semaphores and pthreads to solve the synchronization challenge of the Chain Smoker Problem. It demonstrates efficient resource allocation and synchronization principles in operating system design.</p>
          </div>
        </a>
        <a href="https://github.com/muhammad-tahir0312/Implementation-of-a-Parser-for-a-Simple-Context-Free-Grammar" target="_blank" class="project-card">
          <img src="images/eight.png" alt="Simple Arithmetic Expression Parser">
          <div class="project-card-body">
            <h2>Simple Arithmetic Expression Parser</h2>
            <p>Implemented a recursive descent parser to validate and parse arithmetic expressions according to a specified context-free grammar, supporting addition, multiplication, and parentheses for grouping.</p>
          </div>
        </a>
        <a href="https://github.com/muhammad-tahir0312/GEOMETRIC-ALGORITHMS-LINE-INTERSECTION-CONVEX-HULL-" target="_blank" class="project-card">
          <img src="images/nine.png" alt="GEOMETRIC ALGORITHMS">
          <div class="project-card-body">
            <h2>GEOMETRIC ALGORITHMS</h2>
            <p>This project explores Convex Hull and Line Intersection algorithms. It evaluates efficiency through algorithms like Brute Force, Jarvis March, Graham Scan, and introduces a novel approach, emphasizing computational geometry insights and practical applications.</p>
          </div>
        </a>
        <a href="https://github.com/muhammad-tahir0312/Efficient-Parallelization-of-Jarvis-March-and-Binary-Search-Tree-Algorithms-with-OpenMP-and-MPI" target="_blank" class="project-card">
          <img src="images/ten.png" alt="Parallelization of Jarvis March and BST Algorithm with OpenMP and MPI">
          <div class="project-card-body">
            <h2>Parallelization of Jarvis March and BST Algorithm with OpenMP and MPI</h2>
            <p>Parallelize the Jarvis March and Binary Search Tree algorithms with OpenMP and MPI to enhance computational efficiency in geometric and data structure operations.</p>
          </div>
        </a>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
